### THIS FILE IS MANAGED BY SALTSTACK
{%- set clusterIpRange =  pillar['kubernetes']['global']['clusterIP-range'] -%} 
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set node01 =  pillar['kubernetes']['master']['cluster']['node01']['hostname'] -%} 
{%- set node02 =  pillar['kubernetes']['master']['cluster']['node02']['hostname'] -%} 
{%- set node03 =  pillar['kubernetes']['master']['cluster']['node03']['hostname'] -%} 
{%- set node01ip =  pillar['kubernetes']['master']['cluster']['node01']['ipaddr'] -%} 
{%- set node02ip =  pillar['kubernetes']['master']['cluster']['node02']['ipaddr'] -%} 
{%- set node03ip =  pillar['kubernetes']['master']['cluster']['node03']['ipaddr'] -%} 
{% if hostname == node01 %}
	{% set currentip = node01ip %}
{% elif hostname == node02 %}
	{% set currentip = node02ip %}
{% elif hostname == node03 %}
	{% set currentip = node03ip %}
{% else %}
	{% set currentip = "127.0.0.1" %}
{% endif %}

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --advertise-address={{ currentip }}   \
  --bind-address=0.0.0.0 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/lib/audit.log \
  --allow-privileged=true \
  --authorization-mode=RBAC \
  --enable-swagger-ui=true \
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  --etcd-certfile=/var/lib/kubernetes/kubernetes.pem \
  --etcd-keyfile=/var/lib/kubernetes/kubernetes-key.pem \
  --kubelet-certificate-authority=/var/lib/kubernetes/ca.pem \
  --client-ca-file=/var/lib/kubernetes/ca.pem \
  --service-cluster-ip-range={{ clusterIpRange }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/var/lib/kubernetes/kubernetes.pem \
  --tls-private-key-file=/var/lib/kubernetes/kubernetes-key.pem \
  --enable-bootstrap-token-auth \
  --token-auth-file=/var/lib/kubernetes/token.csv \
  --service-account-key-file=/var/lib/kubernetes/ca-key.pem \
  --runtime-config=batch/v2alpha1=true  \
  --insecure-bind-address=127.0.0.1 \
  --event-ttl=1h \
  --apiserver-count=1 \
  --kubelet-https=true \
  --apiserver-count=3 \
  --runtime-config=api/all \
  --experimental-encryption-provider-config=/var/lib/kubernetes/encryption-config.yaml \
  --etcd-servers=https://{{ node01ip }}:2379,https://{{ node02ip }}:2379,https://{{ node03ip }}:2379 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
