{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set calicoNodeVersion = pillar['kubernetes']['worker']['networking']['calico']['version'] -%}
{%- set etcdEndpoint = pillar['kubernetes']['master']['hostname'] -%}
{%- set ipv4Range = pillar['kubernetes']['worker']['networking']['calico']['ipv4']['range'] -%}
{%- set ASnumber = pillar['kubernetes']['worker']['networking']['calico']['as-number'] -%}
{%- set enableIPv6 = pillar['kubernetes']['worker']['networking']['calico']['ipv6']['enable'] -%}
{%- set ipv6Range = pillar['kubernetes']['worker']['networking']['calico']['ipv6']['range'] -%}
{%- set ipv4NatEnabled = pillar['kubernetes']['worker']['networking']['calico']['ipv4']['nat'] -%}
{%- set ipv6NatEnabled = pillar['kubernetes']['worker']['networking']['calico']['ipv6']['nat'] -%}
{%- set IpIp = pillar['kubernetes']['worker']['networking']['calico']['ipv4']['ip-in-ip'] -%}
{% if IpIp == true %}
	{%- set IpIpenv = "always" -%}
{% else %}
	{%- set IpIpenv = "off" -%}
{% endif %}
{% if enableIPv6 == true %}
	{%- set IPv6env = "-e IP6=autodetect" -%}
{% else %}
	{%- set IPv6env = "" -%}
{% endif %}

[Unit]
Description=calico node
After=docker.service
Requires=docker.service

[Service]
User=root
PermissionsStartOnly=true
ExecStart=/usr/bin/docker run --net=host --privileged --name=calico-node --rm \
        -e CALICO_NETWORKING_BACKEND=bird  \
	-e CALICO_LIBNETWORK_ENABLED=true  \
        -e CALICO_LIBNETWORK_IFPREFIX=cali \
        -e ETCD_ENDPOINTS=http://{{ etcdEndpoint }}:2379  \
        -e ETCD_CA_CERT_FILE=/etc/calico/certs/ca_cert.crt \
	-e ETCD_AUTHORITY=  \
        -e ETCD_SCHEME=     \
	-e IP=autodetect {{ IPv6env }}   \
        -e CALICO_IPV4POOL_CIDR={{ ipv4Range }}  \
        -e CALICO_IPV4POOL_NAT_OUTGOING={{ ipv4NatEnabled|string }} \
        -e CALICO_IPV6POOL_CIDR={{ ipv6Range }}  \
        -e CALICO_IPV4POOL_NAT_OUTGOING=true  \
        -e CALICO_IPV6POOL_NAT_OUTGOING={{ ipv6NatEnabled|string }}  \
        -e CALICO_IPV4POOL_IPIP={{ IpIpenv }}	 \
        -e AS={{ ASnumber }} \
        -e NODENAME={{ hostname }} \
	-v /var/run/calico:/var/run/calico -v /lib/modules:/lib/modules -v /var/log/calico:/var/log/calico  \
	-v /run/docker/plugins:/run/docker/plugins -v /var/run/docker.sock:/var/run/docker.sock  \
	-v /var/lib/kubernetes/ca.pem:/etc/calico/certs/ca_cert.crt  \
	calico/node:{{ calicoNodeVersion }}
ExecStop=/usr/bin/docker rm -f calico-node
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
