### THIS FILE IS MANAGED BY SALTSTACK
[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-proxy \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --proxy-mode=iptables \
  --iptables-min-sync-period=2s \
  --iptables-sync-period=5s \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
